.header {
    margin: 40px 0 40px;
    display: flex;
    justify-content: space-around
}
.robot {
    display: flex;
    justify-content: space-around;
    padding-top: 20px;
}
.prtocol {
    padding: 6px 10px;
    background: #007bff;
    border-radius: 5px;
    margin-right: -5px;
    font-weight: bold;
    color: white;
}
.area {
    height: 36px;
    border-radius: 3px;
    border: 1px solid #007bff;
    width: 400px;
    /* box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75); */
}
.btn-primary {
    margin-left: 15px;
}
table {
    border: 1px solid #007bff;
    line-height: 20px;
    margin-top: 20px;
}
.green {
    background-color: green;
    text-align: center;
}
.red {
    background-color: red;
    text-align: center;
}
.boldtext {
    font-weight: bold;
    background-color: #007bff;
}
.description h1 {
    text-align: center;
}
.btn {
    margin-top: -5px;
}